<div class="row" id="accordion">
	<% @series.each do |series| %>
		<div class="col-12">
			<button class="btn" type="button" data-toggle="collapse" data-target="#collapse-<%= series.id %>" aria-expanded="false" aria-controls="collapse-<%= series.id %>">
    		<%= image_tag(image_url(series.logo_image_url),  class:"img-responsive") %> <%=  series.name %>
  		</button>
  	</div>
		<div class="collapse" id="collapse-<%= series.id %>">
			<div class="row">
			  <% series.card_sets.each do |card_set| %>
					<div class="col-3">
						<%= link_to(card_set) do %>
							<div class="row">
								<div class="col-12 set_name_holder">
									<h4>
										<%= card_set.name %>
									</h4>
								</div>
							</div>
							<div class="row card_set_data">
								<div class="col-12">
									<%= image_tag(image_url(card_set.logo_image_url),  class:"img-fluid") %>
								</div>
								<div class="col-6">
									<%= image_tag(image_url(card_set.symbol_image_url),  class:"symbol_image") %>
								</div>
								<div class="col-6">
									<%= card_set.release_date %><br>
									<%= card_set.total_cards %>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>