<table class=" table table-striped sortable">
  <thead>
    <tr>
      <th>Card Number</th>
      <th>Energy Type</th>
      <th>Name</th>
      <th>Card Type</th>
      <th>Card Sub-type</th>
      <th>HP</th>
      <th>Weakness Cost</th>
      <th>Resistance Cost</th>
      <th>Retreat Cost</th>
      <th>Rarity</th>
    </tr>
  </thead>

 <tbody>
   <% @cards.each do |card| %>
     <tr data-toggle="modal" data-target="#myModal" data-title='<%= card.name %>' data-image='<%= link_to(card) do %><%= image_tag(card.hd_image_url) %><% end %>'>
      <td><%= card.card_number %></td>
      <td>
      	<p hidden><%= card.energy_types %></p>
      	<% if card.energy_types %>
      		<%= to_icon(card.energy_types).html_safe %>
      	<% end %>
      </td>
      <td><%= card.name %></td>
      <td><%= card.super_type %></td>
      <td><%= card.sub_type %></td>
      <td><%= card.hp %></td>
      <td><%= sub_icons_with_text(card.weakness) %></td>
      <td><%= sub_icons_with_text(card.resistance) %></td>
      <td>
        <%= convert_retreat_cost(card.retreat_cost) %>
      </td>
      <td><%= card.rarity_weight.html_safe %></td>
    </tr>
   <% end %>
 </tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 375px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->