<div class="row">
	<div class="col-sm-6 card_image_holder">
		<%= image_tag(image_url(@card.hd_image_url)) %>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-9">
				<div class="row card_title_holder">
					<div class="col-12 card_title">
						<h2 class="<%= bad_string_to_regular(@card.energy_types) %>"><%= @card.name %></h2>
					</div>
				</div>

				<% if @card.ability %>
					<div class="row ability title_holder">
						<div class="col attack_title">
							<h2><%= @card.ability.name %></h2>
						</div>
					</div>
					<div class="row">
						<div class="col attack_content_holder">
							<div class="row">
								<div class="col-12 attack_text">
									<%= @card.ability.text %>
								</div>
							</div>
						</div>
					</div>
				<% end %>

				<% if @card.attacks.present? %>
					<% @card.attacks.each do |attack| %>
						<div class="row attack title_holder">
							<div class="col attack_title">
								<h2><%= attack.name %></h2>
							</div>
						</div>
						<div class="row attack_content_holder">
							<div class="col-6">
								<div class="row">
									<div class="col-12 card_header">Cost</div>
									<div class="col-12 cost_holder"><%= type_to_icon(attack.cost).html_safe %></div>
								</div>
							</div>
							<div class="col-6">
								<div class="row">
									<div class="col-12 card_header">Damage</div>
									<div class="col-12 cost_holder"><%= attack.damage %></div>
								</div>
							</div>
							<div class="col-12 attack_text"><%= attack.text %></div>
						</div>
					<% end %>
				<% else %>
					<div class="row attack title_holder">
						<div class="col attack_title">
							<h2>Card Effect</h2>
						</div>
					</div>
					<div class="row attack_content_holder">
						<div class="col attack_text"><%= @card.flavor_text.gsub("[", "").gsub('"', "").gsub("]","") %></div>
					</div>
				<% end %>
				<% if current_user %>
					<%= render partial: "collection_form", locals: {user_card: @user_card} %>
				<% end %>
			</div>

			<div class="col-sm-2 offset-sm-1 set_icon">
				<div class="row">
					<div class="col-12 card_header">Set</div>
					<div class="col-12"><%= image_tag(image_url(@card.card_set.symbol_image_url))%></div>
				</div>
				<div class="row">
					<div class="col-12 card_header">Card #</div>
					<div class="col-12 card_data"><%= @card.card_number %> / <%= @card.card_set.total_cards %></div>
				</div>
				<% if @card.super_type != "Trainer" %>
					<div class="row">
						<div class="col-12 card_header">HP</div>
						<div class="col-12 card_data"><%= @card.hp %></div>
					</div>
					<div class="row">
						<div class="col-12 card_header">Weak</div>
						<div class="col-12 card_data with_icons"><%= sub_icons_with_text(@card.weakness) %></div>
					</div>
					<div class="row">
						<div class="col-12 card_header">Resist</div>
						<div class="col-12 card_data with_icons"><%= sub_icons_with_text(@card.resistance) %></div>
					</div>
					<div class="row">
						<div class="col-12 card_header">Retreat</div>
						<div class="col-12 card_data with_icons"><%= convert_retreat_cost(@card.retreat_cost) %></div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>