<div class="row">
	<div class="col-xs-4 col-xs-offset-4"><%= image_tag(image_url(@card.card_set.logo_image_url),  style:"height: auto; width: 100%;display:block;
    margin:auto;")%></div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-5">
		<%= image_tag(image_url(@card.hd_image_url),  style:"height: auto; width: 100%;") %>
	</div>
	<div class="col-xs-0 col-sm-1"></div>
	<div class="col-xs-12 col-sm-6">
		<div><%= @card.ability if @card.ability %></div>
		<% @card.attacks.each do |attack| %>
			<div><%= type_to_icon(attack.cost).html_safe %> | <%= attack.name %> <%= attack.damage %></div>
			<div><%= attack.text %></div>
		<% end %>
	</div>
</div>